$color-white: #ffffff;

$color-rhino-default: #2a345b;
$color-rhino-50: #ced4e9;
$color-rhino-100: #c0c7e2;
$color-rhino-200: #a5aed5;
$color-rhino-300: #8996c8;
$color-rhino-400: #6d7dbb;
$color-rhino-500: #5164af;
$color-rhino-600: #445493;
$color-rhino-700: #374477;
$color-rhino-800: #2a345b;
$color-rhino-900: #181e35;
$color-rhino-950: #0f1321;
