$breakpoint-screen-xs: 320px;
$breakpoint-screen-sm: 640px;
$breakpoint-screen-md: 768px;
$breakpoint-screen-lg: 1024px;
$breakpoint-screen-xl: 1280px;
$breakpoint-screen-2xl: 1536px;

// From Vuetifty 3
$max-width-screen-lg: 900px;
$max-width-screen-xl: 1200px;